.modal {
    width: 98%;
    height: 98%;
    background: rgb(160, 154, 154);
    border: 5px solid #ccc;
    /* transition: 1.1s ease-out; */
    box-shadow: 
      -2rem 2rem 2rem rgba(black, 0.2);
    filter: blur(0);
    /* transform: scale(1);   */
    opacity: 1;
    visibility: visible;
    margin-bottom: 4%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
    
.modal.off {
      opacity: 0;
      visibility: hidden;
      filter: blur(8px);
      /* transform: scale(0.33); */
      box-shadow: 1rem 0 0 rgba(black, 0.2);
}

h2 {
      border-bottom: 1px solid #ccc;
      padding: 20px;
      text-align: center;
      font-size: 1.2rem;
}

.content {
      padding: 1rem;
      font-size: 1.2rem;
      text-align: center;
}

.actions {
      border-top: 1px solid #ccc;
      background: rgb(75, 73, 73);
      padding: 0.5rem 1rem;
      display: flex;
      justify-content: center;
}

.toggle-button1 {
  background-color: #20d8e9;
    width: 15%;
    font-size: 1em;
    font-weight: 800;
    cursor: pointer;
    box-shadow: 10px 10px 8px rgb(39, 38, 38);
    margin-top: 10px;
    border: 2px solid black;
    margin-bottom: 1%;
    margin-right: 10px;
}

.toggle-button2 {
  background-color: #20d8e9;
    width: 15%;
    font-size: 1em;
    font-weight: 800;
    cursor: pointer;
    box-shadow: 10px 10px 8px rgb(39, 38, 38);
    margin-top: 10px;
    border: 2px solid black;
    margin-bottom: 1%;
}

.toggle-button1 {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.toggle-button2 {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.toggle-button1:hover {
  background-color: #071546;
  color: white;
}

.toggle-button2:hover {
  background-color: #071546;
  color: white;
}